<div class="search-users">
  <form class="search-users-form text-center" autocomplete="off" #searchForm="ngForm" ngNativeValidate
        (ngSubmit)="onSubmitSearchForm($event)">
    <mat-form-field class="username">
      <input matInput placeholder="Type your desired github username" required [(ngModel)]="searchText" name="search">
    </mat-form-field>
    <button mat-stroked-button type="submit" class="search-button">Search</button>
  </form>

  <mat-divider></mat-divider>
    <user-list *ngIf="searchRequested && showSearchResults"
             [resultsCount]="resultsCount"
             [searchedUsers]="searchedUsers">
  </user-list>
  <followers-chart *ngIf="searchRequested && !showSearchResults"
                   [usersFollowersChartData]="usersFollowersChartData"></followers-chart>
  <br/>
  <div *ngIf="searchRequested && searchedUsers?.length" class="center pointer action-links">
    <a *ngIf="showSearchResults" (click)="showFollowersBarChart()">Followers Chart</a>
    <a *ngIf="!showSearchResults" (click)="showSearchResults = true">Search Results</a>
  </div>
</div>
