.search-users {
  left: 20%;
  right: 20%;
  position: absolute;
}

.search-users .search-button {
  margin-left: 3px;
}

.search-users-form mat-form-field.username {
  width: 260px;
}

.action-links {
  color: #0645AD;
  text-decoration: underline;
}

